.card-header
    {
        background-color: #4a9cef;
        color: #fff;
        padding: 1rem 3rem;
        font-size: 32px;
        }
    .blue-btn{
        background-color:#3a73b5
    }
    .card-body{
        background-color: #dedede;
    }
    .card-footer{
        background-color:#4a9cef;
        color:#fff;
        padding:1.5rem
    }
    form{
        margin-left: 9rem;
    }
    .red{
      color:red;
    }
    p > span{
      font-weight: bold;
    }
